<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Minepanel</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/global.css">
</head>

<body>
<div class="container">
    <div class="login form">
        <header>Login</header>
        <form action="/login" method="POST">

            <input name="username" type="text" class="{{ if .UsernameError }}error{{ end }}" placeholder="Enter your username..." required>
            {{ if .UsernameError }}
                <span class="error-message">{{ .UsernameError }}</span>
            {{ end }}

            <input name="password" type="password" id="password" class="{{ if .PasswordError }}error{{ end }}" placeholder="Enter your password..." required>
            {{ if .PasswordError }}
            <span class="error-message">{{ .PasswordError }}</span>
            {{ end }}

            <input type="submit" class="button" value="Login">
        </form>
    </div>
</div>
</body>

</html>